apiVersion: apps/v1
kind: Deployment
metadata:
  name: be-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: yossihayat/docker-backend-service:1.0.0
        ports:
        - containerPort: 5001
        env:
        - name: MYSQL_HOST
          value: "mysql-service"  
        - name: MYSQL_USER
          value: "root"
        - name: MYSQL_PASSWORD
          value: "123456"
